// ************************************************************
// 工作事項
// ************************************************************

$grey_light: #eee;
$bg_color: #fafafa;

@mixin bg_shadow {
  box-shadow: 2px 3px 5px 0px rgba(100, 100, 100, 0.2);
}

.todolist {
  margin: 60px auto 0;
  width: 600px;
  [class*="fa-"] {
    color: #333;
    margin: 4px;
    cursor: pointer;
  }
}

.title {
  margin-bottom: 10px;
  padding: 15px;
  background-color: $primary_color;
  color: $white;
  text-align: center;
  font-size: $font_base * 1.4;

  @include bg_shadow;
}

// 新增
.create__group {
  @include bg_shadow;
  .create__input {
    position: relative;
    padding: 10px 20px;
    background-color: $grey_light;
    font-size: $font_base;
    cursor: pointer;
    transition: all 0.2s ease;
    svg {
      margin: 0;
      position: absolute;
      top: 50%;
      right: 20px;
      transform: translateY(-50%);
    }
    &:hover {
      background-color: darken($grey_light, 3%);
      transition: all 0.2s ease;
    }
    &.focus {
      cursor: default;
      &:hover {
        background-color: $grey_light;
      }
    }
  }
}
.todo__item {
  background-color: $grey_light;
  .todo__content {
    padding: 10px;
    font-size: 0;
    & > * {
      font-size: 14px;
    }
    textarea {
      padding: 10px;
      width: 100%;
      height: 100px;
      resize: none;
    }
  }
  .todo__footer {
    @extend clearfix;
    button {
      display: block;
      float: left;
      padding: 10px;
      width: 50%;
      background-color: $white;
      cursor: pointer;
      &:hover {
        background-color: darken($white, 3%);
        transition: all 0.2s ease;
      }
      & + button {
        background-color: $primary_color;
        color: $white;
        &:hover {
          background-color: darken($primary_color, 3%);
          transition: all 0.2s ease;
        }
      }
    }
  }
}

// 列表
.list {
  margin-top: 20px;
}
.list__item {
  margin-bottom: 10px;
  background-color: $grey_light;

  @include bg_shadow;
  .list__title {
    position: relative;
    padding: 10px 20px;
    display: flex;
    align-items: center;
    .list__text {
      display: inline-block;
      overflow: hidden;
      margin-left: 10px;
      width: 60%;
      line-height: 33px;
      vertical-align: middle;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
    .option {
      position: absolute;
      top: 50%;
      right: 20px;
      transform: translateY(-50%);
      .fa {
        margin-left: 10px;
        font-size: 18px;
        cursor: pointer;
      }
    }
  }
  &.completed {
    // background-color: #72d272;
  }
}
